<form method="post" action="{{ path('app_analysis_delete', {'id': analysi.id}) }}" onsubmit="return confirm('Etes vous de vouloir supprimer cette analyse?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ analysi.id) }}">
    <button class="btn"><img src="{{ asset('Media/icon/poubelle.png') }}" alt=""></button>
</form>
