{% extends 'base.html.twig' %}

{% block title %}Modifier l'analyse{% endblock %}

{% block body %}
    <main class="form">
    <a href="{{ path('app_analysis_list') }}">◀ retour à list</a>
    <h1>Modifier l'analyse</h1>
    {{ include('analysis/_form.html.twig', {'button_label': 'Mise à jour'}) }}
    </main>
{% endblock %}
