{% extends 'base.html.twig' %}

{% block title %}Edit Analysis{% endblock %}

{% block body %}
    <h1>Edit Analysis</h1>

    {{ include('analysis/_form.html.twig', {'button_label': 'Mise à jour'}) }}

{% endblock %}
