{% extends 'base.html.twig' %}

{% block title %}Ajouter une analyse{% endblock %}

{% block body %}
    <main class="form">
        <a href="{{ path('app_analysis_list') }}">◀ retour à list</a>
    <h1>Ajouter une analyse</h1>

    {{ include('analysis/_form.html.twig', {'button_label': 'Ajouter'}) }}
    </main>

{% endblock %}
