{% extends 'base.html.twig' %}

{% block title %}Hello MessageController!{% endblock %}

{% block body %}
    <h1>Messages envoyés</h1>

    <ul>
        {% for message in messages %}
            <li>
                <a href="{{ path('message_view', {
                    'id': message.id,
                    'read': 0
                }) }}">
                    {{ message.subject ?: 'Sans sujet' }}
                    (Dernier message: {{ message.modifyAt|date('d/m/Y H:i') }})
                </a>
            </li>
        {% else %}
            <li>Aucune conversation.</li>
        {% endfor %}
    </ul>


{% endblock %}
