{% extends 'base.html.twig' %}

{% block title %}Modifier la Categorie{% endblock %}

{% block javascripts %}
    <script src={{ asset('js/categories.js')}} defer></script>
{% endblock %}

{% block body %}
    <main class="form" id="category_edit">
        <a href="{{ path('app_categories_list') }}">◀ retour à list</a>
    <h1>Modifier la Categorie</h1>

    {{ include('category/_form.html.twig', {'button_label': 'Modifier'}) }}

    </main>
{% endblock %}
{% block template %}
    {{ include('template/categories.html.twig') }}
{% endblock %}
