{% extends 'base.html.twig' %}

{% block title %}Specialitées{% endblock %}

{% block body %}
    <main>
        <section id="hero" class="red-hero-img">
            <h2>Molecool</h2>
            <img src="/Media/image/louis-reed-pwcKF7L4-no-unsplash 1.png" alt="tips de micropipette">
        </section>
        <section id="specialites">
            <h1>Nos specialitées</h1>
            {% for category in categories %}
                <article>
                    <a href="{{ path('app_analysis', {'id': category.id}) }}">
                        <img src="/Media/icon/Group (1).png" alt="icon tube de sang">
                        <h3>{{ category.name }}</h3>
                    </a>
                    <p>{{ category.description }}</p>
                    <h4>Test effectuer :</h4>
                    <ul>
                        {% for analyse in category.analysis %}
                            <li>{{ analyse.name }}</li>
                        {% endfor %}
                    </ul>
                </article>
            {% endfor %}
        </section>
    </main>
{% endblock %}
