{% extends 'base.html.twig' %}

{% block title %}Ajouter une catégorie{% endblock %}

{% block javascripts %}
    <script src={{ asset('js/categories.js')}} defer></script>
{% endblock %}

{% block body %}
    <main class="form">
        <a href="{{ path('app_categories_list') }}">◀ retour à list</a>
    <h1>Ajouter une catégorie</h1>

    {{ include('category/_form.html.twig') }}


    </main>
{% endblock %}
{% block template %}
    {{ include('template/categories.html.twig') }}
{% endblock %}
