{% extends 'base.html.twig' %}

{% block title %}Ajouter une Catégorie{% endblock %}

{% block javascripts %}
    <script src="{{ asset('js/categories.js') }}" defer></script>
{% endblock %}

{% block body %}
    <main class="form" id="category_add" role="main" aria-labelledby="titre-ajout-categorie">
        <a href="{{ path('app_categories_list') }}" class="back-link">◀ Retour à la liste</a>

        <h1 id="titre-ajout-categorie">Ajouter une Catégorie</h1>

        {{ include('category/_form.html.twig') }}
    </main>
{% endblock %}

{% block template %}
    {{ include('template/categories.html.twig') }}
{% endblock %}
