@charset "UTF-8";
/* Définition des variables globales pour les couleurs et autres propriétés */
:root {
  font-family: "Roboto", sans-serif; /* Police de caractères par défaut */
  font-size: 12px; /* Taille de police par défaut */
  --primary-color: rgba(221, 25, 25, 1); /* Couleur primaire */
  --secondary-color: rgba(96, 133, 250, 1); /* Couleur secondaire */
  --tertiary-color-rgb: 39, 134, 152; /* Valeurs RGB pour la couleur tertiaire */
  --tertiary-color: rgba(var(--tertiary-color-rgb), 1); /* Couleur tertiaire */
  --light-color: rgba(252, 252, 252, 1); /* Couleur claire */
  --alert-padding: 1rem; /* Remplissage pour les alertes */
  --alert-border-radius: 0.375rem; /* Rayon de bordure pour les alertes */
  --alert-font-weight: 500; /* Poids de la police pour les alertes */
  --success-bg: #d4edda; /* Couleur de fond pour les alertes de succès */
  --success-text: #155724; /* Couleur du texte pour les alertes de succès */
  --success-border: #c3e6cb; /* Couleur de bordure pour les alertes de succès */
  --danger-bg: #f8d7da; /* Couleur de fond pour les alertes de danger */
  --danger-text: #721c24; /* Couleur du texte pour les alertes de danger */
  --danger-border: #f5c6cb; /* Couleur de bordure pour les alertes de danger */
}

/* Réinitialisation des marges et remplissages par défaut pour tous les éléments */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; /* Boîte de modèle de boîte */
}

/* Style pour cacher les éléments */
.hidden {
  display: none;
}

/* Style pour l'en-tête */
header {
  display: flex; /* Utilisation de Flexbox */
  justify-content: space-between; /* Espacement des éléments enfants */
  padding: 10px; /* Remplissage intérieur */
  position: relative; /* Position relative */
  align-items: center; /* Alignement vertical des éléments enfants */
}
header a {
  width: 20%; /* Largeur des liens */
}
header a img {
  width: 100%; /* Largeur complète */
}
header ul {
  position: absolute; /* Position absolue */
  top: 100%; /* Position en bas du parent */
  right: 0%; /* Position à droite */
  left: 0%; /* Position à gauche */
  background-color: var(--primary-color); /* Couleur de fond */
  padding: 20px; /* Remplissage intérieur */
  z-index: 1000; /* Position en avant par rapport aux autres éléments */
}
header ul li {
  cursor: pointer; /* Curseur de la souris */
  list-style: none; /* Pas de style de liste */
  padding-block: 5px; /* Remplissage vertical */
}
header ul li:hover {
  background-color: rgb(254, 23, 23); /* Couleur de fond au survol */
}
header ul li a {
  text-decoration: none; /* Pas de soulignement */
  color: var(--light-color); /* Couleur du texte */
}
header svg {
  width: 20px; /* Largeur */
  height: 20px; /* Hauteur */
  cursor: pointer; /* Curseur de la souris */
}

/* Media Queries pour les écrans larges (ordinateurs de bureau) */
@media (min-width: 1000px) {
  header ul {
    display: flex !important; /* Utilisation de Flexbox */
    position: relative; /* Position relative */
    gap: 10px; /* Espacement entre les éléments enfants */
    background-color: transparent; /* Couleur de fond transparente */
    padding-right: 0; /* Pas de remplissage à droite */
  }
  header ul li {
    padding-inline: 5px; /* Remplissage horizontal */
  }
  header ul li:hover {
    background-color: rgb(254, 23, 23); /* Couleur de fond au survol */
    transition: all 0.3s ease; /* Transition pour les effets de survol */
    border-radius: 8px; /* Coins arrondis */
  }
  header ul li:hover a {
    color: var(--light-color); /* Couleur du texte au survol */
  }
  header ul li a {
    font-size: 1.3rem; /* Taille de la police */
    font-weight: bold; /* Poids de la police */
    color: var(--primary-color); /* Couleur du texte */
  }
  header svg {
    display: none; /* Masquer les icônes SVG */
  }
}
.box {
  margin-inline: 39px;
  margin-block: 15px;
  background-color: rgba(128, 128, 128, 0.07);
  padding: 26px;
  box-shadow: 4px 4px 4px black;
  border-radius: 5px;
}

.button {
  margin-top: 20px;
  margin-inline: 40px;
  width: calc(100% - 80px);
  background-color: var(--primary-color);
  color: var(--light-color);
  font-size: 1.6rem;
  padding-block: 10px;
  border: none;
  border-radius: 8px;
}

.hero {
  padding-block: 25px;
  padding-left: 10px;
  display: flex;
  justify-content: space-between;
  background-color: var(--primary-color);
  align-items: center;
}
.hero h1 {
  font-size: 2rem;
  color: var(--light-color);
}

.grid-cards {
  display: grid;
  gap: 20px;
  grid-template-columns: 1fr;
  padding-inline: 10px;
  padding-block: 20px;
}
.grid-cards article {
  background-color: rgba(128, 128, 128, 0.07);
  border-radius: 5px;
  box-shadow: 4px 4px 4px black;
  padding: 20px;
  text-align: center;
}
.grid-cards article h3 {
  color: var(--tertiary-color);
  font-size: clamp(1.6rem, 2vw, 2rem);
  font-weight: 700;
  margin-bottom: 10px;
}
.grid-cards article p {
  font-size: clamp(1.2rem, 1.5vw, 1.6rem);
  color: black;
}
.grid-cards article a {
  display: inline-block;
  margin-top: 15px;
  background-color: var(--primary-color);
  color: var(--light-color);
  text-decoration: none;
  padding: 10px 15px;
  border-radius: 5px;
}
.grid-cards article a:hover {
  background-color: rgb(254, 23, 23);
}
@media (min-width: 768px) {
  .grid-cards {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (min-width: 1024px) {
  .grid-cards {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media (min-width: 768px) {
  .container_responsive_2_4 {
    font-size: 1.8rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 25px;
  }
  .container_responsive_2_4 button {
    font-size: 1.8rem;
  }
  .container_responsive_2_4 h1, .container_responsive_2_4 h2 {
    grid-column: 1/-1;
  }
}
@media (min-width: 1024px) {
  .container_responsive_2_4 {
    font-size: 1.8rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
  .container_responsive_2_4 button {
    font-size: 1.8rem;
  }
}

.alert {
  padding: var(--alert-padding);
  border-radius: var(--alert-border-radius);
  font-weight: var(--alert-font-weight);
  border: 1px solid transparent;
}
.alert-success {
  background-color: var(--success-bg);
  color: var(--success-text);
  border-color: var(--success-border);
}
.alert-danger {
  background-color: var(--danger-bg);
  color: var(--danger-text);
  border-color: var(--danger-border);
}

.form > a {
  margin-inline: 10px;
  text-decoration: none;
  color: var(--tertiary-color);
  font-size: 1.2rem;
}
.form h1 {
  color: var(--primary-color);
  text-align: center;
  font-size: 3.2rem;
}
.form form {
  margin-block: 23px;
  padding-block: 25px;
  border: 1px solid var(--primary-color);
  margin-inline: 10px;
  border-radius: 8px;
}
.form form div {
  display: flex;
  flex-direction: column;
  margin-inline: 40px;
  gap: 10px;
  margin-block: 10px;
  font-size: 1.6rem;
}
.form form div input, .form form div select, .form form div textarea {
  padding-block: 10px;
  border: 1px solid var(--primary-color);
  border-radius: 8px;
  font-size: 1.6rem;
  padding-inline: 10px;
}
.form form .checkbox {
  flex-direction: row;
  align-items: flex-start;
  gap: 10px;
}
.form form .checkbox input {
  margin-top: 5px;
}
.form form button {
  margin-top: 20px;
  margin-inline: 40px;
  width: calc(100% - 80px);
  background-color: var(--primary-color);
  color: var(--light-color);
  font-size: 1.6rem;
  padding-block: 10px;
  border: none;
  border-radius: 8px;
}
.form form textarea {
  height: 100px !important;
}
@media (min-width: 768px) {
  .form form {
    width: 730px;
    margin-inline: auto;
  }
}
.form .white h1 {
  color: var(--light-color);
  font-size: 2rem;
}

.carousel {
  position: relative;
  width: 100%;
  overflow: hidden;
  border-radius: 10px;
}

.carousel-track {
  display: flex;
  transition: transform 0.5s ease-in-out;
  width: 100%;
}

.carousel-slide {
  min-width: 100%;
  position: relative;
}

.carousel-slide img {
  width: 100%;
  height: 250px;
  object-fit: cover;
  display: block;
}

.text-overlay {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  color: white;
  background: rgba(0, 0, 0, 0.4);
  padding: 20px;
  border-radius: 10px;
}

button.prev, button.next {
  position: absolute;
  top: 80%;
  transform: translateY(-50%);
  font-size: 2rem;
  background: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  padding: 10px 15px;
  cursor: pointer;
  z-index: 2;
}

button.prev {
  left: 10px;
}

button.next {
  right: 10px;
}

.link {
  padding-inline: 5px;
}
.link:hover {
  background-color: rgb(254, 23, 23);
  transition: all 0.3s ease;
  border-radius: 8px;
}
.link:hover a {
  color: var(--light-color) !important;
}
.link a {
  font-size: 1.3rem;
  font-weight: bold;
  color: var(--primary-color);
}

@media (min-width: 750px) {
  .carousel-slide img {
    height: 500px;
  }
  .text-overlay {
    padding-inline: 50px;
  }
  .text-overlay h2, .text-overlay h1 {
    font-size: 2.2rem;
  }
  .text-overlay p {
    font-size: 1.6rem;
  }
  button.prev,
  button.next {
    top: 50%;
  }
}
@keyframes zoomBackground {
  from {
    background-size: 100%;
  }
  to {
    background-size: 120%;
  }
}
/* Animation de retour */
@keyframes unzoomBackground {
  from {
    background-size: 120%;
  }
  to {
    background-size: 100%;
  }
}
.hero-home {
  padding-inline: 10px;
  padding-block: 20px;
  background-size: cover;
  background-position: center;
}
.hero-home p {
  padding-bottom: 20px;
}
.hero-home p span {
  display: block;
  padding-block: 10px;
}
.hero-home p span:last-of-type {
  font-weight: 800;
}
.hero-home a {
  display: block;
  padding: 5px;
  background-color: var(--primary-color);
  border-radius: 5px;
  text-align: center;
  justify-self: center;
  text-decoration: none;
  color: var(--light-color);
}
.hero-home a:hover {
  background-color: rgb(254, 23, 23);
}

#speciality {
  padding-inline: 10px;
}
#speciality h2 {
  padding-block: 15px;
  color: var(--primary-color);
  font-size: 3.2rem;
  text-align: center;
}
#speciality article a {
  text-decoration: none;
  color: var(--light-color);
  font-size: 3.2rem;
  font-weight: 900;
  box-shadow: 10px 10px 10px black;
  background-size: cover;
  aspect-ratio: 1/0.6;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-block: 30px;
  transition: all 0.3s ease;
}
#speciality article a:hover {
  position: relative;
  bottom: 5px;
  animation: zoomBackground 0.8s forwards;
}
#speciality article a:not(:hover) {
  animation: unzoomBackground 0.8s forwards;
}
@media (min-width: 1024px) {
  #speciality article a {
    font-size: 2rem;
  }
}
#speciality article:first-of-type a {
  background-image: url(../Media/image/vedrana-filipovic-jxqTaXF5WmY-unsplash\ 1.png);
}
#speciality article:nth-of-type(2) a {
  background-image: url(../Media/image/anirudh-djo3iNJpaOE-unsplash\ 1.png);
}
#speciality article:nth-of-type(3) a {
  background-image: url(../Media/image/fusion-medical-animation-rnr8D3FNUNY-unsplash\ 1.png);
}
#speciality article:last-of-type a {
  background-image: url(../Media/image/cdc-MgGTUHINEPg-unsplash\ 1.png);
}

#apropos {
  background-image: url(../Media/image/age-barros-GJYouaBTiRc-unsplash\ 1.png);
  background-size: cover;
  text-align: center;
  padding-block: 20px;
  padding-inline: 10px;
  padding-bottom: 50px;
}
#apropos h2 {
  padding-block: 20px;
  color: var(--light-color);
  font-size: 3.2rem;
  margin-bottom: 50px;
}
#apropos figure {
  padding-block: 20px;
}
#apropos figure svg {
  width: 139px;
  height: 139px;
  margin: 10px;
}
#apropos figure figcaption {
  color: var(--light-color);
  font-size: 1.8rem;
}

.red-hero-img {
  padding-left: 10px;
  display: flex;
  justify-content: space-between;
  background: linear-gradient(to right, red 0%, red 70%, transparent 90%);
  align-items: center;
}
.red-hero-img img {
  z-index: -1;
}
.red-hero-img h1, .red-hero-img h2 {
  color: var(--light-color);
}

#detail {
  margin-inline: 10px;
}
#detail h2 {
  font-size: 2rem;
  color: var(--primary-color);
  font-weight: 300;
  margin-block: 15px;
}
#detail p {
  font-size: 1.6rem;
  margin-block: 15px;
}
#detail article {
  margin-block: 15px;
  background-color: rgba(128, 128, 128, 0.07);
  padding: 26px;
  box-shadow: 4px 4px 4px black;
  border-radius: 5px;
}
#detail article div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#detail article div h3 {
  color: var(--tertiary-color);
  font-size: 1.8rem;
}
#detail article div p {
  color: var(--primary-color);
  font-size: 1.8rem;
}
#detail ul {
  margin-left: 20px;
}
#detail ul li {
  font-size: 1.6rem;
  margin-block: 5px;
}
#detail > div {
  margin-block: 15px;
  background-color: rgba(128, 128, 128, 0.07);
  padding: 26px;
  box-shadow: 4px 4px 4px black;
  border-radius: 5px;
}

#specialites h1 {
  text-align: center;
  color: var(--primary-color);
  padding: 43px;
  font-size: 3rem;
  font-weight: 400;
}
#specialites article {
  margin-inline: 10px;
  margin-block: 15px;
  background-color: rgba(128, 128, 128, 0.07);
  padding: 26px;
  box-shadow: 4px 4px 4px black;
  border-radius: 5px;
}
#specialites article a {
  text-decoration: none;
  display: flex;
  gap: 10px;
}
#specialites article a h3 {
  font-size: 2rem;
  color: var(--tertiary-color);
}
#specialites article p, #specialites article h4, #specialites article li {
  padding-block: 20px;
  font-weight: 300;
}
#specialites article p, #specialites article li {
  font-size: 1.6rem;
}
#specialites article h4 {
  font-size: 2rem;
  color: var(--tertiary-color);
}
#specialites article li {
  padding-block: 15px;
  margin-inline: 30px;
}

.account-home article h2 {
  color: var(--tertiary-color);
  font-size: 1.8rem;
  margin-block: 25px;
}
.account-home article p {
  font-size: 1.6rem;
  margin-block: 25px;
}
.account-home article div {
  display: flex;
  justify-content: end;
}

#service {
  padding: 20px 10px;
}
#service .hero {
  background-color: var(--primary-color);
  color: var(--light-color);
  padding: 20px;
  text-align: center;
}
#service .hero h1 {
  font-size: 2rem;
}
@media (min-width: 768px) {
  #service .hero h1 {
    font-size: 2.4rem;
  }
}
@media (min-width: 1024px) {
  #service .hero h1 {
    font-size: 2.8rem;
  }
}
#service .account-home {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
  margin-top: 30px;
}
@media (min-width: 768px) {
  #service .account-home {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (min-width: 1024px) {
  #service .account-home {
    grid-template-columns: repeat(4, 1fr);
  }
}
#service .account-home article.box {
  background-color: rgba(128, 128, 128, 0.07);
  padding: 26px;
  box-shadow: 4px 4px 4px black;
  border-radius: 5px;
}
#service .account-home article.box h2 {
  font-size: 1.6rem;
  color: var(--tertiary-color);
  margin-bottom: 15px;
}
@media (min-width: 768px) {
  #service .account-home article.box h2 {
    font-size: 1.8rem;
  }
}
@media (min-width: 1024px) {
  #service .account-home article.box h2 {
    font-size: 2rem;
  }
}
#service .account-home article.box ul {
  list-style: none;
  padding: 0;
}
#service .account-home article.box ul a {
  text-decoration: none;
}

#reservation div p {
  color: grey;
  font-size: 1.3rem;
}
#reservation div div {
  display: grid;
  grid-template-columns: auto auto auto auto; /* 4 colonnes */
  gap: 10px 20px; /* 10px ligne, 20px colonne */
  align-items: center;
  margin-left: 0;
}
#reservation div div label {
  justify-self: start;
}
#reservation div div input {
  justify-self: end;
}
#reservation .notification {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
#reservation .notification a {
  text-decoration: none;
  text-align: center;
  border: 1px solid grey;
  width: 100%;
  padding-block: 10px;
  border-radius: 5px;
}
#reservation .notification a p {
  font-size: 1.6rem;
  color: black;
  text-decoration: none;
}

#appointment_index button a {
  text-decoration: none;
  color: var(--light-color);
}
#appointment_index .hidden {
  display: none !important;
}
#appointment_index .hidden_patient {
  display: none !important;
}
#appointment_index article {
  padding: 10px;
}
#appointment_index h2 {
  color: var(--primary-color);
}
@media (min-width: 1024px) {
  #appointment_index .box {
    margin: 0;
    margin-top: 10px;
  }
}
#appointment_index h3 {
  color: var(--tertiary-color);
}
#appointment_index .titre {
  list-style-type: none;
}
#appointment_index .liste {
  margin-left: 40px;
}
#appointment_index .container {
  display: flex;
  justify-content: space-between;
}
@media (min-width: 1025px) {
  #appointment_index .container {
    margin: 0;
    margin-top: 10px;
    font-size: 1.5rem;
  }
}
#appointment_index .container div:last-of-type form {
  margin: 0;
  padding: 0;
  width: 100%;
  border: 0;
}
#appointment_index .container div:last-of-type form button {
  cursor: pointer;
  margin: 0;
  padding: 0;
  background-color: transparent;
}

#user_list, #category-liste, #analysis_show {
  margin-inline: 10px;
}
#user_list h1, #category-liste h1, #analysis_show h1 {
  color: var(--primary-color);
}
#user_list article, #category-liste article, #analysis_show article {
  margin-inline: 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
}
#user_list article h2, #user_list article .alert, #category-liste article h2, #category-liste article .alert, #analysis_show article h2, #analysis_show article .alert {
  color: var(--tertiary-color);
  grid-column: 1/-1;
}
#user_list article form, #user_list article a, #category-liste article form, #category-liste article a, #analysis_show article form, #analysis_show article a {
  display: block;
  margin-inline: auto;
}
#user_list article a, #category-liste article a, #analysis_show article a {
  text-decoration: none;
  color: var(--primary-color);
  text-align: center;
}
#user_list article a img, #category-liste article a img, #analysis_show article a img {
  position: relative;
  top: 4px;
}
#user_list article button, #category-liste article button, #analysis_show article button {
  border: 0;
  background-color: transparent;
  color: var(--primary-color);
  cursor: pointer;
}
#user_list article div, #category-liste article div, #analysis_show article div {
  grid-column: 1/-1;
  display: flex;
  justify-content: space-between;
  gap: 10px;
}
#user_list ul, #category-liste ul, #analysis_show ul {
  grid-column: 1/-1;
}
#user_list ul li, #category-liste ul li, #analysis_show ul li {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media (min-width: 768px) {
  #user_list ul li h3, #category-liste ul li h3, #analysis_show ul li h3 {
    font-size: 1.2rem;
  }
}

#message_inbox h1, #message_sent h1, #message_favorite h1 {
  padding-inline: 10px;
  color: var(--light-color);
}
#message_inbox nav, #message_sent nav, #message_favorite nav {
  position: sticky;
  top: 0;
  z-index: 500;
  background-color: var(--tertiary-color);
  padding-inline: 10px;
}
#message_inbox nav ul, #message_sent nav ul, #message_favorite nav ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-block: 5px;
  gap: 3px;
}
#message_inbox nav ul li, #message_sent nav ul li, #message_favorite nav ul li {
  list-style: none;
  text-align: center;
}
#message_inbox nav ul li a, #message_sent nav ul li a, #message_favorite nav ul li a {
  color: var(--light-color);
  text-decoration: none;
}
#message_inbox .message-list, #message_sent .message-list, #message_favorite .message-list {
  padding-inline: 10px;
}
#message_inbox .message-list li, #message_sent .message-list li, #message_favorite .message-list li {
  margin-block: 20px;
  display: flex;
  justify-content: space-between;
}
#message_inbox .message-list li a, #message_sent .message-list li a, #message_favorite .message-list li a {
  display: flex;
  flex-direction: column;
  text-decoration: none;
  flex-grow: 1;
  color: black;
}
#message_inbox .message-list li > div, #message_sent .message-list li > div, #message_favorite .message-list li > div {
  display: flex;
  flex-direction: column;
}
#message_inbox .message-list li > div div, #message_sent .message-list li > div div, #message_favorite .message-list li > div div {
  display: flex;
  justify-content: space-between;
}
#message_inbox .unread, #message_sent .unread, #message_favorite .unread {
  background-color: rgba(var(--tertiary-color-rgb), 0.3);
  padding: 3px;
  border-radius: 5px;
}
#message_inbox .unread p, #message_sent .unread p, #message_favorite .unread p {
  font-weight: bold;
}
#message_inbox .unread div p, #message_sent .unread div p, #message_favorite .unread div p {
  font-weight: bold;
}

#message_view #hero_message_view {
  background-color: var(--primary-color);
  color: var(--light-color);
  padding: 10px;
}
#message_view #content_message_view > div {
  margin-inline: 10px;
  max-height: 600px;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
}
#message_view #content_message_view > div .receive {
  margin-block: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: var(--tertiary-color);
  color: var(--light-color);
  border-radius: 15px;
  width: 60%;
  padding: 10px;
}
#message_view #content_message_view > div .receive p {
  word-wrap: break-word;
  overflow-wrap: break-word;
}
#message_view #content_message_view > div .receive time {
  font-weight: lighter;
  align-self: flex-end;
  font-size: 0.8rem;
}
#message_view #content_message_view > div .send {
  align-self: flex-end;
  margin-block: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: var(--primary-color);
  color: var(--light-color);
  border-radius: 15px;
  width: 60%;
  padding: 10px;
}
#message_view #content_message_view > div .send time {
  font-weight: lighter;
  align-self: flex-end;
  font-size: 0.8rem;
}
#message_view #content_message_view > div > div:last-of-type {
  margin-block: 10px;
}
#message_view #content_message_view > div > div:last-of-type p {
  color: var(--tertiary-color);
  font-weight: bold;
}
#message_view #content_message_view .sender {
  background-color: var(--primary-color);
}
#message_view #content_message_view .recipient {
  background-color: var(--tertiary-color);
}
#message_view #content_message_view form {
  padding-inline: 15px;
  padding-block: 5px;
  display: flex;
}
#message_view #content_message_view form > div:last-of-type {
  flex-grow: 1;
}
#message_view #content_message_view form > div:last-of-type > div:first-of-type {
  position: relative;
}
#message_view #content_message_view form > div:last-of-type > div:first-of-type textarea {
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 16px;
  width: 100%;
  color: var(--light-color);
  padding-inline: 30px;
  padding-top: 5px;
  resize: none;
}
#message_view #content_message_view form > div:last-of-type > div:first-of-type button {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  background-color: transparent;
  color: rgba(255, 255, 255, 0.5);
  border: 0;
  cursor: pointer;
  font-size: 1.5rem;
}
#message_view #content_message_view form .input-fichier-cache {
  display: none;
}
#message_view #content_message_view form .label-piece-jointe {
  cursor: pointer;
  font-size: 1.8rem;
  padding: 5px;
}
#message_view #content_message_view form .label-piece-jointe:hover {
  color: #007bff;
}

#faq {
  padding-inline: 10px;
}
#faq article {
  margin-inline: 0;
}
#faq article > p {
  color: var(--primary-color);
  font-weight: bold;
  cursor: pointer;
}
#faq article div {
  margin-top: 10px;
}
#faq article div p {
  color: var(--tertiary-color);
}

#mention_legal {
  padding-bottom: 10px;
}
#mention_legal .last-update {
  padding-left: 10px;
  font-style: italic;
  color: #666;
  margin-bottom: 2rem;
  font-size: 0.9rem;
}
#mention_legal h1 {
  color: var(--primary-color);
  text-align: center;
  margin-block: 2rem;
  font-size: 3.2rem;
}
#mention_legal h2 {
  color: var(--tertiary-color);
  margin-top: 2.5rem;
  margin-bottom: 1rem;
  font-size: 1.8rem;
  padding-bottom: 0.5rem;
  padding-left: 10px;
  border-bottom: 2px solid var(--primary-color);
}
#mention_legal article h3 {
  color: var(--primary-color);
  margin-top: 2rem;
  margin-bottom: 1rem;
  font-size: 1.4rem;
}
#mention_legal article p {
  margin-bottom: 1rem;
  text-align: justify;
  line-height: 1.6;
}
#mention_legal article ul {
  margin-bottom: 1rem;
  padding-left: 2rem;
}
#mention_legal article li {
  margin-bottom: 0.5rem;
}
#mention_legal .final-section {
  text-align: center;
  margin-top: 3rem;
  padding-top: 2rem;
  border-top: 1px solid #ddd;
}

@media (min-width: 768px) {
  #mention_legal {
    font-size: 1.5rem;
  }
  #mention_legal h3 {
    font-size: 2.2rem;
  }
  #message_view {
    font-size: 1.4rem;
  }
  #message_view textarea {
    font-size: 1.4rem;
  }
  #message_view #content_message_view {
    width: 760px;
    font-size: 1.5rem;
    border: 2px solid var(--primary-color);
    margin-inline: auto;
    margin-block: 20px;
    border-radius: 8px;
  }
  #message_view #content_message_view .hidden {
    display: block;
    justify-self: center;
    color: var(--primary-color);
    font-size: 2rem;
    padding-block: 15px;
  }
  #detail > p, #detail > ul, #detail > div {
    grid-column: 1/-1;
  }
  #message_inbox .message-list li, #message_sent .message-list li, #message_favorite .message-list li {
    padding-block: 5px;
  }
  #message_inbox .message-list li:hover, #message_sent .message-list li:hover, #message_favorite .message-list li:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
  }
  #message_inbox .message-list li a, #message_sent .message-list li a, #message_favorite .message-list li a {
    flex-direction: row;
    gap: 30px;
    font-size: 1.3rem;
    align-items: center;
  }
  #message_inbox .message-list li > div, #message_sent .message-list li > div, #message_favorite .message-list li > div {
    flex-direction: row;
    gap: 20px;
  }
  #message_inbox .message-list li > div div, #message_sent .message-list li > div div, #message_favorite .message-list li > div div {
    gap: 5px;
  }
}
@media (min-width: 1024px) {
  #detail, #mention_legal {
    grid-template-columns: 1fr 1fr;
  }
  #specialites {
    font-size: 2rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  #message_inbox, #message_sent, #message_favorite {
    display: grid;
    grid-template-columns: 0.3fr 1fr;
    row-gap: 10px;
  }
  #message_inbox h1, #message_sent h1, #message_favorite h1 {
    grid-column: 1/-1;
    font-size: 2.5rem;
  }
  #message_inbox nav, #message_sent nav, #message_favorite nav {
    border-radius: 5px;
    margin-left: 10px;
    height: 100vh;
  }
  #message_inbox nav ul, #message_sent nav ul, #message_favorite nav ul {
    flex-direction: column;
    padding-block: 10px;
    font-size: 1.3rem;
    gap: 20px;
  }
}
#contact {
  padding-inline: 10px;
}
#contact h2 {
  padding-block: 20px;
  color: var(--primary-color);
  font-size: 3rem;
  text-align: center;
}
#contact li {
  display: flex;
  align-items: center;
  gap: 40px;
  margin-block: 10px;
}
#contact li svg {
  width: 53px;
  height: 53px;
}
#contact li span {
  font-size: 1.4rem;
  font-weight: 600;
}
#contact form {
  border: 1px solid var(--primary-color);
  border-radius: 5px;
  padding-inline: 43px;
  padding-block: 20px;
  margin-bottom: 20px;
}
#contact form div div {
  display: flex;
  flex-direction: column;
}
#contact form div div label {
  margin-top: 10px;
  margin-bottom: 7px;
  font-size: 1.6rem;
}
#contact form div div input, #contact form div div select, #contact form div div textarea {
  border: 1px solid var(--primary-color);
  border-radius: 5px;
  height: 30px;
  padding-inline: 10px;
  padding-block: 5px;
}
#contact form div select {
  text-align: center;
}
#contact form div textarea {
  height: 100px !important;
}
#contact form div button {
  margin-top: 40px;
  background-color: var(--primary-color);
  border-radius: 5px;
  border: 0;
  color: var(--light-color);
  padding-block: 10px;
}

@media (min-width: 750px) {
  #contact {
    width: 720px;
    margin-inline: auto;
    border: 2px solid var(--primary-color);
    margin-block: 30px;
    box-shadow: 0 4px 8px grey;
  }
}
/* Style pour le pied de page */
footer {
  background-color: var(--primary-color); /* Couleur de fond */
  color: var(--light-color); /* Couleur du texte */
  padding-inline: 10px; /* Remplissage horizontal */
  display: flex; /* Utilisation de Flexbox */
  justify-content: space-between; /* Espacement des éléments enfants */
  align-items: center; /* Alignement vertical des éléments enfants */
  padding-block: 5px; /* Remplissage vertical */
}
footer h2 {
  font-size: 1.6rem; /* Taille de la police */
  font-weight: 800; /* Poids de la police */
}
footer a {
  color: var(--light-color);
}
footer p {
  font-size: 1.2rem; /* Taille de la police */
  font-weight: 500; /* Poids de la police */
}

/* Style pour le corps de la page */
body {
  position: relative; /* Position relative */
  min-height: 100vh; /* Hauteur minimale de 100% de la hauteur de la fenêtre */
  padding-bottom: 30px !important; /* Remplissage inférieur pour éviter que le contenu ne soit caché par le pied de page */
}

/* Style pour le pied de page en position fixe */
footer {
  position: fixed; /* Position fixe */
  bottom: 0; /* Position en bas de la fenêtre */
  left: 0; /* Position à gauche de la fenêtre */
  right: 0; /* Position à droite de la fenêtre */
  z-index: 1000; /* Position en avant par rapport aux autres éléments */
}

/*# sourceMappingURL=style.css.map */
