.box{
  margin-inline:39px;
  margin-block: 15px;
  background-color: rgba(128, 128, 128, 0.07);
  padding: 26px;
  box-shadow: 4px 4px 4px black;
  border-radius: 5px;
  }
.button{
  margin-top: 20px;
  margin-inline: 40px;
  width: calc(100% - 80px);
  background-color: var(--primary-color);
  color: var(--light-color);
  font-size: 1.6rem;
  padding-block: 10px;
  border: none;
  border-radius: 8px;
}
.hero{
  padding-block: 25px;
    padding-left: 10px;
    display: flex;
    justify-content: space-between;
    background-color: var(--primary-color);
    align-items: center;
    h1{
      font-size: 2rem;
      color: var(--light-color);
    }
}
.alert {
  padding: var(--alert-padding);
  border-radius: var(--alert-border-radius);
  font-weight: var(--alert-font-weight);
  border: 1px solid transparent;

  &-success {
    background-color: var(--success-bg);
    color: var(--success-text);
    border-color: var(--success-border);
  }

  &-danger {
    background-color: var(--danger-bg);
    color: var(--danger-text);
    border-color: var(--danger-border);
  }
}
