// Style pour les éléments avec la classe .box
.box {
  margin-inline: 39px; // Marge horizontale
  margin-block: 15px; // Marge verticale
  background-color: rgba(128, 128, 128, 0.07); // Couleur de fond avec transparence
  padding: 26px; // Remplissage intérieur
  box-shadow: 4px 4px 4px black; // Ombre portée
  border-radius: 5px; // Coins arrondis
}

// Style pour les éléments avec la classe .button
.button {
  margin-top: 20px; // Marge supérieure
  margin-inline: 40px; // Marge horizontale
  width: calc(100% - 80px); // Largeur calculée
  background-color: var(--primary-color); // Couleur de fond
  color: var(--light-color); // Couleur du texte
  font-size: 1.6rem; // Taille de la police
  padding-block: 10px; // Remplissage vertical
  border: none; // Pas de bordure
  border-radius: 8px; // Coins arrondis
}

// Style pour les éléments avec la classe .hero
.hero {
  padding-block: 25px; // Remplissage vertical
  padding-left: 10px; // Remplissage gauche
  display: flex; // Utilisation de Flexbox
  justify-content: space-between; // Espacement des éléments enfants
  background-color: var(--primary-color); // Couleur de fond
  align-items: center; // Alignement vertical des éléments enfants

  h1 {
    font-size: 2rem; // Taille de la police
    color: var(--light-color); // Couleur du texte
  }
}

// Style pour les éléments avec la classe .grid-cards
.grid-cards {
  display: grid; // Utilisation de CSS Grid
  gap: 20px; // Espacement entre les éléments de la grille
  grid-template-columns: 1fr; // Une seule colonne par défaut
  padding-inline: 10px; // Remplissage horizontal
  padding-block: 20px; // Remplissage vertical

  article {
    background-color: rgba(128, 128, 128, 0.07); // Couleur de fond avec transparence
    border-radius: 5px; // Coins arrondis
    box-shadow: 4px 4px 4px black; // Ombre portée
    padding: 20px; // Remplissage intérieur
    text-align: center; // Alignement du texte

    h3 {
      color: var(--tertiary-color); // Couleur du texte
      font-size: clamp(1.6rem, 2vw, 2rem); // Taille de police responsive
      font-weight: 700; // Poids de la police
      margin-bottom: 10px; // Marge inférieure
    }

    p {
      font-size: clamp(1.2rem, 1.5vw, 1.6rem); // Taille de police responsive
      color: black; // Couleur du texte
    }

    a {
      display: inline-block; // Affichage en ligne
      margin-top: 15px; // Marge supérieure
      background-color: var(--primary-color); // Couleur de fond
      color: var(--light-color); // Couleur du texte
      text-decoration: none; // Pas de soulignement
      padding: 10px 15px; // Remplissage intérieur
      border-radius: 5px; // Coins arrondis

      &:hover {
        background-color: rgb(254, 23, 23); // Couleur de fond au survol
      }
    }
  }

  // Media Queries pour les écrans de taille moyenne (tablettes)
  @media (min-width: 768px) {
    grid-template-columns: repeat(2, 1fr); // Deux colonnes
  }

  // Media Queries pour les écrans larges (ordinateurs de bureau)
  @media (min-width: 1024px) {
    grid-template-columns: repeat(4, 1fr); // Quatre colonnes
  }
}

// Style pour les éléments avec la classe .container_responsive_2_4
.container_responsive_2_4 {
  // Media Queries pour les écrans de taille moyenne (tablettes)
  @media (min-width: 768px) {
    button {
      font-size: 1.8rem; // Taille de la police
    }

    font-size: 1.8rem; // Taille de la police
    display: grid; // Utilisation de CSS Grid
    grid-template-columns: 1fr 1fr; // Deux colonnes
    column-gap: 25px; // Espacement entre les colonnes

    h1, h2 {
      grid-column: 1/-1; // Les éléments h1 et h2 s'étendent sur toute la largeur
    }
  }

  // Media Queries pour les écrans larges (ordinateurs de bureau)
  @media (min-width: 1024px) {
    button {
      font-size: 1.8rem; // Taille de la police
    }

    font-size: 1.8rem; // Taille de la police
    display: grid; // Utilisation de CSS Grid
    grid-template-columns: 1fr 1fr 1fr 1fr; // Quatre colonnes
  }
}

// Style pour les éléments avec la classe .alert
.alert {
  padding: var(--alert-padding); // Remplissage intérieur
  border-radius: var(--alert-border-radius); // Coins arrondis
  font-weight: var(--alert-font-weight); // Poids de la police
  border: 1px solid transparent; // Bordure transparente

  &-success {
    background-color: var(--success-bg); // Couleur de fond pour les alertes de succès
    color: var(--success-text); // Couleur du texte pour les alertes de succès
    border-color: var(--success-border); // Couleur de bordure pour les alertes de succès
  }

  &-danger {
    background-color: var(--danger-bg); // Couleur de fond pour les alertes de danger
    color: var(--danger-text); // Couleur du texte pour les alertes de danger
    border-color: var(--danger-border); // Couleur de bordure pour les alertes de danger
  }
}

// Style pour les éléments avec la classe .form
.form {
  > a {
    margin-inline: 10px; // Marge horizontale
    text-decoration: none; // Pas de soulignement
    color: var(--tertiary-color); // Couleur du texte
    font-size: 1.2rem; // Taille de la police
  }

  h1 {
    color: var(--primary-color); // Couleur du texte
    text-align: center; // Alignement du texte
    font-size: 3.2rem; // Taille de la police
  }

  form {
    margin-block: 23px; // Marge verticale
    padding-block: 25px; // Remplissage vertical
    border: 1px solid var(--primary-color); // Bordure
    margin-inline: 10px; // Marge horizontale
    border-radius: 8px; // Coins arrondis

    div {
      display: flex; // Utilisation de Flexbox
      flex-direction: column; // Direction des éléments enfants
      margin-inline: 40px; // Marge horizontale
      gap: 10px; // Espacement entre les éléments enfants
      margin-block: 10px; // Marge verticale
      font-size: 1.6rem; // Taille de la police

      input, select, textarea {
        padding-block: 10px; // Remplissage vertical
        border: 1px solid var(--primary-color); // Bordure
        border-radius: 8px; // Coins arrondis
        font-size: 1.6rem; // Taille de la police
        padding-inline: 10px; // Remplissage horizontal
      }
    }

    .checkbox {
      input {
        margin-top: 5px; // Marge supérieure
      }

      flex-direction: row; // Direction des éléments enfants
      align-items: flex-start; // Alignement vertical des éléments enfants
      gap: 10px; // Espacement entre les éléments enfants
    }

    button {
      margin-top: 20px; // Marge supérieure
      margin-inline: 40px; // Marge horizontale
      width: calc(100% - 80px); // Largeur calculée
      background-color: var(--primary-color); // Couleur de fond
      color: var(--light-color); // Couleur du texte
      font-size: 1.6rem; // Taille de la police
      padding-block: 10px; // Remplissage vertical
      border: none; // Pas de bordure
      border-radius: 8px; // Coins arrondis
    }

    textarea {
      height: 100px !important; // Hauteur fixe
    }

    // Media Queries pour les écrans de taille moyenne (tablettes)
    @media (min-width: 768px) {
      width: 730px; // Largeur fixe
      margin-inline: auto; // Marge horizontale automatique
    }
  }

  .white {
    h1 {
      color: var(--light-color); // Couleur du texte
      font-size: 2rem; // Taille de la police
    }
  }
}

// Style pour les éléments avec la classe .carousel
.carousel {
  position: relative; // Position relative
  width: 100%; // Largeur complète
  overflow: hidden; // Masquer le contenu qui dépasse
  border-radius: 10px; // Coins arrondis
}

// Style pour les éléments avec la classe .carousel-track
.carousel-track {
  display: flex; // Utilisation de Flexbox
  transition: transform 0.5s ease-in-out; // Transition pour le déplacement
  width: 100%; // Largeur complète
}

// Style pour les éléments avec la classe .carousel-slide
.carousel-slide {
  min-width: 100%; // Largeur minimale
  position: relative; // Position relative
}

// Style pour les images dans les éléments avec la classe .carousel-slide
.carousel-slide img {
  width: 100%; // Largeur complète
  height: 250px; // Hauteur fixe
  object-fit: cover; // Redimensionnement de l'image
  display: block; // Affichage en bloc
}

// Style pour les éléments avec la classe .text-overlay
.text-overlay {
  position: absolute; // Position absolue
  display: flex; // Utilisation de Flexbox
  flex-direction: column; // Direction des éléments enfants
  justify-content: center; // Centrage vertical
  align-items: center; // Centrage horizontal
  text-align: center; // Alignement du texte
  margin: auto; // Marge automatique
  top: 0; // Position en haut
  left: 0; // Position à gauche
  right: 0; // Position à droite
  bottom: 0; // Position en bas
  color: white; // Couleur du texte
  background: rgba(0, 0, 0, 0.4); // Couleur de fond avec transparence
  padding: 20px; // Remplissage intérieur
  border-radius: 10px; // Coins arrondis
}

// Style pour les boutons avec les classes .prev et .next
button.prev, button.next {
  position: absolute; // Position absolue
  top: 80%; // Position en haut
  transform: translateY(-50%); // Transformation verticale
  font-size: 2rem; // Taille de la police
  background: rgba(0, 0, 0, 0.5); // Couleur de fond avec transparence
  color: white; // Couleur du texte
  border: none; // Pas de bordure
  padding: 10px 15px; // Remplissage intérieur
  cursor: pointer; // Curseur de la souris
  z-index: 2; // Position en avant
}

// Style pour le bouton avec la classe .prev
button.prev {
  left: 10px; // Position à gauche
}

// Style pour le bouton avec la classe .next
button.next {
  right: 10px; // Position à droite
}

// Style pour les éléments avec la classe .link
.link {
  padding-inline: 5px; // Remplissage horizontal

  &:hover {
    background-color: rgb(254, 23, 23); // Couleur de fond au survol
    transition: all 0.3s ease; // Transition pour les effets de survol
    border-radius: 8px; // Coins arrondis

    a {
      color: var(--light-color) !important; // Couleur du texte au survol
    }
  }

  a {
    font-size: 1.3rem; // Taille de la police
    font-weight: bold; // Poids de la police
    color: var(--primary-color); // Couleur du texte
  }
}

// Media Queries pour les écrans de taille moyenne (tablettes)
@media (min-width: 750px) {
  .carousel-slide img {
    height: 500px; // Hauteur fixe
  }

  .text-overlay {
    padding-inline: 50px; // Remplissage horizontal

    h2, h1 {
      font-size: 2.2rem; // Taille de la police
    }
  }

  .text-overlay p {
    font-size: 1.6rem; // Taille de la police
  }

  button.prev,
  button.next {
    top: 50%; // Position en haut
  }
}
