// Style pour la section avec l'ID #contact
#contact {
  padding-inline: 10px; // Remplissage horizontal

  h2 {
    padding-block: 20px; // Remplissage vertical
    color: var(--primary-color); // Couleur du texte
    font-size: 3rem; // Taille de la police
    text-align: center; // Alignement du texte
  }

  li {
    display: flex; // Utilisation de Flexbox
    align-items: center; // Alignement vertical des éléments enfants
    gap: 40px; // Espacement entre les éléments enfants
    margin-block: 10px; // Marge verticale

    svg {
      width: 53px; // Largeur
      height: 53px; // Hauteur
    }

    span {
      font-size: 1.4rem; // Taille de la police
      font-weight: 600; // Poids de la police
    }
  }

  form {
    border: 1px solid var(--primary-color); // Bordure
    border-radius: 5px; // Coins arrondis
    padding-inline: 43px; // Remplissage horizontal
    padding-block: 20px; // Remplissage vertical

    div {
      div {
        display: flex; // Utilisation de Flexbox
        flex-direction: column; // Direction des éléments enfants

        label {
          margin-top: 10px; // Marge supérieure
          margin-bottom: 7px; // Marge inférieure
          font-size: 1.6rem; // Taille de la police
        }

        input, select, textarea {
          border: 1px solid var(--primary-color); // Bordure
          border-radius: 5px; // Coins arrondis
          height: 30px; // Hauteur
          padding-inline: 10px; // Remplissage horizontal
          padding-block: 5px; // Remplissage vertical
        }
      }

      select {
        text-align: center; // Alignement du texte
      }

      textarea {
        height: 100px !important; // Hauteur fixe
      }

      button {
        margin-top: 40px; // Marge supérieure
        background-color: var(--primary-color); // Couleur de fond
        border-radius: 5px; // Coins arrondis
        border: 0; // Pas de bordure
        color: var(--light-color); // Couleur du texte
        padding-block: 10px; // Remplissage vertical
      }
    }

    margin-bottom: 20px; // Marge inférieure
  }
}

// Media Queries pour les écrans de taille moyenne (tablettes)
@media (min-width: 750px) {
  #contact {
    width: 720px; // Largeur fixe
    margin-inline: auto; // Marge horizontale automatique
    border: 2px solid var(--primary-color); // Bordure
    margin-block: 30px; // Marge verticale
    box-shadow: 0 4px 8px grey; // Ombre portée
  }
}
