:root {
    font-family: "Roboto", sans-serif;
    font-size: 12px;
    --primary-color: rgba(221, 25, 25, 1);
    --secondary-color: rgba(96, 133, 250, 1);
    --tertiary-color: rgba(39, 134, 152, 1);
    --light-color: rgba(252, 252, 252, 1);
  --alert-padding: 1rem;
  --alert-border-radius: 0.375rem;
  --alert-font-weight: 500;

  --success-bg: #d4edda;
  --success-text: #155724;
  --success-border: #c3e6cb;

  --danger-bg: #f8d7da;
  --danger-text: #721c24;
  --danger-border: #f5c6cb;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.hidden{
    display: none;
    }

    header {
        display: flex;
        justify-content: space-between;
        padding: 10px;
    position: relative;
        a {
            width: 20%;
          img{
              width:100%;
            }
        }
    
        ul {
           position: absolute;
           top: 100%;
           right: 0%;
           left: 0%;
           background-color: var(--primary-color);
           padding: 20px;
          z-index: 1000;
           li{
             cursor: pointer;
            list-style: none;
            padding-block: 5px;
            &:hover{
                background-color:rgb(254, 23, 23);
            }
            a{
                text-decoration: none;
                color: var(--light-color);
            }
           }
        }
    
        align-items: center;
    
        svg {
            width: 20px;
            height: 20px;
          cursor: pointer;
        }
    }

@media (min-width: 1000px){
header{
ul{
  display: flex !important;
  position: relative;
gap: 10px;
  background-color: transparent;
  padding-right: 0;
li{
padding-inline: 5px;
  &:hover{
    background-color:rgb(254, 23, 23);
    transition: all 0.3s ease;
    border-radius: 8px;
    a{
      color: var(--light-color);
    }
  }
  a{
    font-size: 1.3rem;
    font-weight: bold;
    color: var(--primary-color);
  }
}
}
svg{
  display: none;
}
}

}