/* Définition des variables globales pour les couleurs et autres propriétés */
:root {
  font-family: "Roboto", sans-serif; /* Police de caractères par défaut */
  font-size: 12px; /* Taille de police par défaut */
  --primary-color: rgba(221, 25, 25, 1); /* Couleur primaire */
  --secondary-color: rgba(96, 133, 250, 1); /* Couleur secondaire */
  --tertiary-color-rgb: 39, 134, 152; /* Valeurs RGB pour la couleur tertiaire */
  --tertiary-color: rgba(var(--tertiary-color-rgb), 1); /* Couleur tertiaire */
  --light-color: rgba(252, 252, 252, 1); /* Couleur claire */
  --alert-padding: 1rem; /* Remplissage pour les alertes */
  --alert-border-radius: 0.375rem; /* Rayon de bordure pour les alertes */
  --alert-font-weight: 500; /* Poids de la police pour les alertes */
  --success-bg: #d4edda; /* Couleur de fond pour les alertes de succès */
  --success-text: #155724; /* Couleur du texte pour les alertes de succès */
  --success-border: #c3e6cb; /* Couleur de bordure pour les alertes de succès */
  --danger-bg: #f8d7da; /* Couleur de fond pour les alertes de danger */
  --danger-text: #721c24; /* Couleur du texte pour les alertes de danger */
  --danger-border: #f5c6cb; /* Couleur de bordure pour les alertes de danger */
}

/* Réinitialisation des marges et remplissages par défaut pour tous les éléments */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; /* Boîte de modèle de boîte */
}

/* Style pour cacher les éléments */
.hidden {
  display: none;
}

/* Style pour l'en-tête */
header {
  display: flex; /* Utilisation de Flexbox */
  justify-content: space-between; /* Espacement des éléments enfants */
  padding: 10px; /* Remplissage intérieur */
  position: relative; /* Position relative */

  a {
    width: 20%; /* Largeur des liens */

    img {
      width: 100%; /* Largeur complète */
    }
  }

  ul {
    position: absolute; /* Position absolue */
    top: 100%; /* Position en bas du parent */
    right: 0%; /* Position à droite */
    left: 0%; /* Position à gauche */
    background-color: var(--primary-color); /* Couleur de fond */
    padding: 20px; /* Remplissage intérieur */
    z-index: 1000; /* Position en avant par rapport aux autres éléments */

    li {
      cursor: pointer; /* Curseur de la souris */
      list-style: none; /* Pas de style de liste */
      padding-block: 5px; /* Remplissage vertical */

      &:hover {
        background-color: rgb(254, 23, 23); /* Couleur de fond au survol */
      }

      a {
        text-decoration: none; /* Pas de soulignement */
        color: var(--light-color); /* Couleur du texte */
      }
    }
  }

  align-items: center; /* Alignement vertical des éléments enfants */
  svg {
    width: 20px; /* Largeur */
    height: 20px; /* Hauteur */
    cursor: pointer; /* Curseur de la souris */
  }
}

/* Media Queries pour les écrans larges (ordinateurs de bureau) */
@media (min-width: 1000px) {
  header {
    ul {
      display: flex !important; /* Utilisation de Flexbox */
      position: relative; /* Position relative */
      gap: 10px; /* Espacement entre les éléments enfants */
      background-color: transparent; /* Couleur de fond transparente */
      padding-right: 0; /* Pas de remplissage à droite */

      li {
        padding-inline: 5px; /* Remplissage horizontal */

        &:hover {
          background-color: rgb(254, 23, 23); /* Couleur de fond au survol */
          transition: all 0.3s ease; /* Transition pour les effets de survol */
          border-radius: 8px; /* Coins arrondis */

          a {
            color: var(--light-color); /* Couleur du texte au survol */
          }
        }

        a {
          font-size: 1.3rem; /* Taille de la police */
          font-weight: bold; /* Poids de la police */
          color: var(--primary-color); /* Couleur du texte */
        }
      }
    }

    svg {
      display: none; /* Masquer les icônes SVG */
    }
  }
}
